.foot{
	//background:#24273a;
	padding-top:50px;
	padding-bottom:15px;

	.fb svg{
    	stroke: #3b5998;
    	stroke-width: 2px;
	}
	.tw svg{
    	stroke: #1da1f2;
	}
	.lk svg{
    	stroke: #006fa6;
	}
	.inst svg{
    	stroke-width: 3px;
	}
}