.grid{
	.color-four, .color-one{
		background: #ccc;
		height: 500px;
	}
	.color-two{
		background: url("../images/responsive.jpg");
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		height: 500px;
	}
	.color-three{
		background: url("../images/slider.jpg");
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
		height: 500px;
	}
}
.four-grid{
	background:#fff;
}