.grid{
	 .color-one{
		background: #3A456C;
		height: 550px;
		transition: all 1s;
		padding: 35px;
		@media  (max-width: 980px){
			height: auto;
		}
	}
	.color-two{
		background: #ccc;
		height: 550px;
		transition: all 1s;
		padding: 35px;
		@media  (max-width: 980px){
			height: auto;
		}
	}
}
.four-grid{
	background:#ccc;
	height: 100%;
	.wrap {
		width: 100%;
		margin:0;
		.Title-Shadow {
			// color: rgba(255, 255, 255, 0.1);
			color:#fff;
			font-size: 25px;
			transition: all 1s;
			@media  (max-width: 360px){
				font-size: 18px;
			}
		}
		.Title-Shadow-two {
			// color: rgba(58, 69, 92, 0.1);
			color: rgba(58, 69, 92, 0.9);
			font-size: 25px;
			transition: all 1s;
			@media  (max-width: 360px){
				font-size: 18px;
			}
		}
		.img-four {
			height: 250px;
		    transition: all 1s;
		    opacity: 0.5;
		}
		.Text-Paragraph {
			font-size: 20px;
			// color: rgba(255, 255, 255, 0.1);
			color:#fff;
			transition: all 1s;
			@media  (max-width: 360px){
				font-size: 13px;
			}
		}
		.Text-Paragraph-two {
			font-size: 20px;
			// color: rgba(58, 69, 92, 0.1);
			color: rgba(58, 69, 92, 0.9);
			transition: all 1s;
			@media  (max-width: 360px){
				font-size: 13px;
			}
		}
		.four-box-two:hover {
			background: #3A456C;
			transition: all 1s;

			h1 {
				color: rgba(255, 255, 255, 0.9);
				font-size: 31px;
				transition: all 1s;
			}
			p {
				font-size: 21px;
				transition: all 1s;
				color: rgba(255, 255, 255, 0.8);
			}
			img {
				height: 280px;
				transition: all 1s;
				box-shadow: 10px 10px 5px grey;
				opacity: 1;
			}
			@media  (max-width: 360px){
				h1 {
					font-size: 20px;
				}
				p {
					font-size: 14px;
				}
			}
		}
		
		.four-box:hover {
			background: #ccc;
			transition: all 1s;

			h1 {
				color: rgba(58, 69, 92, 0.9);
				font-size: 31px;
				transition: all 1s;
			}
			p {
				font-size: 21px;
				transition: all 1s;
				color: rgba(58, 69, 92, 0.8);
			}
			img {
				height: 280px;
				transition: all 1s;
				box-shadow: 10px 10px 5px grey;
				opacity: 1;
			}
			@media  (max-width: 360px){
				h1 {
					font-size: 20px;
				}
				p {
					font-size: 14px;
				}
			}
		}	
	}
}