.top-desing{
	hr{
	
		height: 3px !important;
	    border: 0;
	    border-radius: 15px;
	    background-image: linear-gradient(to right, #0299f1 0%, #fff 50%, #fff 50%, #0299f1 100%);
	    display: block;
	    margin: 0px auto 0px auto;
	    width: 25%;
	}
}

.resposive-desing{
	.responsive-left{
		div{
			text-align: right;
		}
	}
	.phone-responsive{
		.phone-img{
			width: 400px;
		}
	}
	.responsive-left, .responsive-right{
		margin-top: 50px;
		div{
			padding-top: 35px;
			i{
				font-size: 60px;
			}
			p{
				font-size: 16px;
			}
		}
	}
}



