a, p, h1, h2, h3, h4, h5, h6, span{
	color:#fff;
	font-family:roboto;
}

a:hover, a:active, a:focus{
	text-decoration:none;
}

button:hover, button:active, button:focus{
	outline: none !important;
}

i{
	color:#0299f1;
}
.grid{
	background:#3A455C;
}
.box{
	padding:80px 0px;
}

.btn-primary{
	background:#0299f1;
}